body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-decoration: none;
    color: #666;
}
a {
    color: #3f3f3f;
    text-decoration: none;
    outline: none;
}
a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
span {
    justify-content: center;
    align-items: center;
    display: flex;
}
.container {
    width: 700px;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    background-color: #b2aec9;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 0 20px 0 0;
}

.search-container form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}

.search-input {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.search-button {
    border: none;
    background-color: #b2aec9;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.input-area {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #b2aec9;

    color: white;
}

.input-area input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

.input-area button {
    background-color: #666;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;

}

.todo-list {

    list-style-type: none;
    padding: 0;
    margin: 0;
}
.info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.todo-item {
    display: flex;

    grid-template-columns: 0.5fr 4fr 2fr 1.5fr 1fr;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}
.todo-item:hover {
    background-color: #f1f1f1;
}
.text-link {
    color: #666;
    text-decoration: none;
}
.todo-item .actions {
    justify-self: center;
}
.todo-item.completed {
    color: gray;
    text-decoration: line-through;


}
.title {
    flex: 3.6;
    color: #333;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.date {
    text-align: center;
    flex: 2;
}
.author {
    flex: 1.5;
    text-align: center;
}
.actions {
    display: flex;
    justify-content: center;
    gap: 8px
}
.actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 2px;
}

.actions button:hover {
    color: #888;
}

.checkbox {
    margin-right: 10px;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}
.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.pagination ul li {
    display: inline;
    margin: 2px;
}
.pagination ul li a {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #e0e0e0;
    color: #333;
    border-radius: 5px;
}
.pagination ul li a:hover {
    background-color: #b0b0b0;
}
.todo-list-header {
    display: flex;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    align-items: center;
    padding: 10px 15px;

    font-weight: bold;
    color: #333;
}
.title-header{
    flex:3.5;
    align-items: center;
}
.due-date-header{
    flex:2;
    align-items: center;
}
.author-header {
    flex: 1.5;
    align-items: center;
}